In [2]:
import os
os.getcwd()

'C:\\Users\\Константин'

In [28]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Константин\Desktop\in.csv', engine='python', sep=';')
data=data.interpolate(method='linear', axis=1)
data.astype('int')

   a   b   c   d
0  1   6  11  11
1  2   7  12  12
2  3   8  13  13
3  4   9  14  14
4  5  10  15  15

In [30]:
data.to_csv(r'C:\Users\Константин\Desktop\out.csv', sep='|')

In [32]:
data.to_csv(r'C:\Users\Константин\Desktop\out_2.csv', header=False, index=False)

In [110]:
from bs4 import BeautifulSoup as BS
import urllib3
import re


http=urllib3.PoolManager()
url=r'http://finance.yahoo.com/q/op?s=AAPL=Options'

response=http.request('GET',url)
data5=response.data.decode('utf-8')
links=re.findall('.//\w+', data5)
links[15].get('href')

AttributeError: 'str' object has no attribute 'get'

In [29]:
import pandas as pd
xls_file=pd.ExcelFile(r'C:\Users\Константин\Desktop\test.xlsx')
sheet1=xls_file.parse('Лист1')
sheet1_df=pd.DataFrame(data=sheet1, index=range(4))
sheet2=xls_file.parse('Лист2')
sheet2_df=pd.DataFrame(data=sheet2)
sheets_concat=pd.concat([sheet1, sheet2])
sheets_merge=sheet1_df.merge(sheet2_df)
sheets_merge

   a  b   c   d   e   f   g   h
0  1  5   9  13  17  21  25  29
1  2  6  10  14  18  22  26  30
2  3  7  11  15  19  23  27  31
3  4  8  12  16  20  24  28  32